<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Mercer.com Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dc8ecb">  <td>18/09/06 13:01:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestMarketPricerJobSearch.testSearchJob()[pri:1, instance:ui.smoke.testcases.TestMarketPricerJobSearch@22a637e7]">testSearchJob</td> 
  <td>main@166794956</td>   <td></td> </tr>
<tr bgcolor="dc8ecb">  <td>18/09/06 13:03:42</td>   <td>129728</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestMarketPricerJobSearch.testSearchInvalidJob()[pri:2, instance:ui.smoke.testcases.TestMarketPricerJobSearch@22a637e7]">testSearchInvalidJob</td> 
  <td>main@166794956</td>   <td></td> </tr>
<tr bgcolor="dc8ecb">  <td>18/09/06 13:05:19</td>   <td>226648</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestMarketPricerJobSearch.testSearchInvalidJob()[pri:2, instance:ui.smoke.testcases.TestMarketPricerJobSearch@22a637e7]">testSearchInvalidJob</td> 
  <td>main@166794956</td>   <td></td> </tr>
<tr bgcolor="dc8ecb">  <td>18/09/06 13:06:38</td>   <td>304760</td> <td title="&lt;&lt;TestMarketPricerJobSearch.kill()[pri:0, instance:ui.smoke.testcases.TestMarketPricerJobSearch@22a637e7]">&lt;&lt;kill</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@166794956</td>   <td></td> </tr>
</table>
